html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --layout-padding-x: 20px;
}

@media (min-width: 1024px) {
  :root {
    --layout-padding-x: 50px;
  }
}
