.gridOfCharacters {
  display: grid;
  grid-template-columns: repeat(var(--numberOfElementsOnGrid, 1), 1fr);
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .gridOfCharacters li:not(:last-child) .characterCard {
    border-bottom-width: 0;
  }
}

@media (min-width: 768px) {
  .characterCard {
    border-width: 1px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gridOfCharacters {
    --numberOfElementsOnGrid: 2;
  }

  .gridOfCharacters li:nth-child(-n + 2) .characterCard {
    border-top-width: 2px;
  }

  .gridOfCharacters li:nth-last-child(-n + 2) .characterCard {
    border-bottom-width: 2px;
  }

  .gridOfCharacters li:nth-child(2n + 1) .characterCard {
    border-left-width: 2px;
  }

  .gridOfCharacters li:nth-child(2n + 2) .characterCard {
    border-right-width: 2px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .gridOfCharacters {
    --numberOfElementsOnGrid: 3;
  }

  .gridOfCharacters li:nth-child(-n + 3) .characterCard {
    border-top-width: 2px;
  }

  .gridOfCharacters li:nth-last-child(-n + 3) .characterCard {
    border-bottom-width: 2px;
  }

  .gridOfCharacters li:nth-child(3n + 1) .characterCard {
    border-left-width: 2px;
  }

  .gridOfCharacters li:nth-child(3n + 3) .characterCard {
    border-right-width: 2px;
  }
}

@media (min-width: 1440px) {
  .gridOfCharacters {
    --numberOfElementsOnGrid: 4;
  }

  .gridOfCharacters li:nth-child(-n + 4) .characterCard {
    border-top-width: 2px;
  }

  .gridOfCharacters li:nth-last-child(-n + 4) .characterCard {
    border-bottom-width: 2px;
  }

  .gridOfCharacters li:nth-child(4n + 1) .characterCard {
    border-left-width: 2px;
  }

  .gridOfCharacters li:nth-child(4n + 4) .characterCard {
    border-right-width: 2px;
  }
}
