.wrapper {
  border: 2px solid #f4f4f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 10px;
}

.primaryHeading,
.secondaryHeading,
.additionalInfo {
  margin: 0;
}

.primaryHeading {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.secondaryHeading {
  font-size: 14px;
  color: #a9a8b2;
  margin-bottom: 5px;
}

.additionalInfo {
  font-size: 14px;
  color: #020adc;
}
